
.search__container{
    background: #DCDCDC;
    border-radius: 2rem;
    width: 90%;
    margin: 3rem auto;
    padding: 2rem;
}

.searchBar{
    margin: $l-size;
    background: white;
    outline: 1px solid black
}

.pullDown{
    border: 1px solid black;
}